DEBUG=true
LOG_LEVEL=info
ENVIRONMENT=develop
NODE_ENV=develop
PORT=3000
METRICS_PREFIX=hexa_shopping_cart_orders_api
NAME=hexa-shopping-cart-orders-api
MONGO_DATABASE_URI=mongodb+srv://admin:password@mongodb:27018/mongodb